{% extends 'base.html' %}

{% block title %}Blackbook{{ block.super }}{% endblock %}
{% block slider-css %}
    <link rel="stylesheet" href="/media/css/nivo-slider.css">
    <link rel="stylesheet" href="/media/css/custom-nivo-slider.css">
{% endblock%}
{% block content %}
<article>
    <header>
        <h2>All Pictures</h2>
    </header>
    <!-- Content -->
    <div id="slider">
    {% for photo in object_list %}
        <img src="{{ photo.image.url }}" alt="{{ photo.slug }}" title="{{ photo.title }}" />
    {% endfor %}
    </div>
{% endblock %}
<article>

{% block slider %}
<!-- Nivo Slider --> 
<script type="text/javascript" src="/media/js/libs/jquery.nivo.slider.pack.js"></script>
<script type="text/javascript" charset="utf-8">
  // Define your slider option    
  $(window).load(function() {
    $('#slider').nivoSlider({
      effect:'fade',
      animSpeed:200, // Slide transition speed
      pauseTime:10000,
      startSlide:0, // Set starting Slide (0 index)
      directionNav:true, // Next & Prev
      directionNavHide:true, // Only show on hover
      controlNav:true, // 1,2,3...
      controlNavThumbs:false, // Use thumbnails for Control Nav
      controlNavThumbsFromRel:false, // Use image rel for thumbs
      controlNavThumbsSearch: '.jpg', // Replace this with...
      controlNavThumbsReplace: '_thumb.jpg', // ...this in thumb Image src
      keyboardNav:true, // Use left & right arrows
      pauseOnHover:true, // Stop animation while hovering
      manualAdvance:false, // Force manual transitions
      captionOpacity:0.8, // Universal caption opacity
      beforeChange: function(){},
      afterChange: function(){},
      slideshowEnd: function(){}, //Triggers after all slides have been shown
      lastSlide: function(){}, //Triggers when last slide is shown
      afterLoad: function (){} //Triggers when slider has loaded
    });
  });
</script>
{% endblock %}
